@import "settings";
@import "compass";
@import "compass/layout/stretching";
@import "font-awesome";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type";
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; } 
}

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600");
@include font-face("Keep Calm", font-files("KeepCalm-Medium.ttf", "KeepCalm-Medium.otf"));

textarea {
	@include input-placeholder {
		color: rgba(#FFF, .3);
		text-align: center;
	}
	background: none !important;
	border: none !important;
	color: inherit !important;
	font-size: rem-calc(92);
	line-height: 1.2;
	padding: 0;
	text: {
		align: center;
		transform: uppercase;
	};
	resize: none;
}

main[role="main"] {
	padding: rem-calc(20 0);
	footer {
		.button {
			margin-bottom: 0;
		}
	}
}

header[role="banner"] {
	@include stretch(0, 0, false, 0);
	z-index: 3;
	.contain-to-grid,
	.top-bar {
		background: none;
	}
}

footer[role="contentinfo"] {
	@include stretch(false, 0, 0, 0);
	font-size: rem-calc(11);
	line-height: rem-calc(36);
	z-index: 3;
	a {
		&.button {
			border: none;
			font-size: rem-calc(14);
			height: rem-calc(36);
			line-height: rem-calc(36);
			margin-bottom: 0;
			padding: 0;
			width: rem-calc(42);
		}
		&:not(.button) {
			color: inherit;
			border-bottom: 1px dotted $body-font-color;
			&:hover {
				border-bottom-style: solid;
			}
		}
	}
}

img {
	&.lazy {
		@include single-transition(opacity, .2s);
		opacity: 0;
		&.loaded {
			opacity: 1;
		}
	}
}

#background {
	@include single-transition(opacity, .2s);
	background: {
		attachment: fixed;
		position: center;
		repeat: no-repeat;
		size: cover;
	};
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

#wrapper {
	display: table;
	min-height: 100%;
	padding: rem-calc(45 0 36);
	position: relative;
	width: 100%;
}

#wrapper-inner {
	display: table-cell;
	width: 100%;
}

#search-form {
	label {
		cursor: default;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.top-bar-section {
	ul {
		> li {
			input,
			button {
				border: none;
				display: block;
				width: 100%;
				color: white;
				cursor: pointer;
				margin: 0;
				padding: 12px 0 12px 0;
				padding-left: 15px;
				font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
				font-size: 0.8125rem;
				font-weight: normal;
				text-transform: none;
				background: #333333;
				top: 0;
				&:hover {
					background: #272727;
				}
			}
		}
	}
	li {
		&:not(.has-form) {
			input,
			button {
				padding: 0 15px;
				line-height: 45px;
				background: #333333;
			}
		}
	}
}

.file-button {
	overflow: hidden;
	position: relative;
	input[type="file"] {
		@include stretch();
		@include transparent();
		cursor: pointer;
		font-size: 200px;
		margin: 0;
		padding: 0;
	}
}

.button-bar {
	.button-group {
		&:last-child {
			margin-right: 0;
		}
	}
}

.crown {
	font-size: 131px;
}

.posters {
	margin-bottom: rem-calc(-20);
	a {
		@include single-transition(all, .2s);
		background-color: #444;
		display: block;
		height: 0;
		overflow: hidden;
		padding-bottom: 100%;
		position: relative;
		width: 100%;
		&.inactive {
			opacity: .5;
		}
	}
}

.poster-content {
	font-family: $header-font-family;
	margin: rem-calc(-20 0);
	text: {
		align: center;
		transform: uppercase;
	};
	section {
		margin: rem-calc(20 0);
	}
}
